
  <br><br><br><br>
    <div style="margin:0 auto;text-align:center;">
        <h3>BUZÓN DE SUGERENCIAS</h3>
        <hr>
        <h3>Nombre</h3>
        <div style="background-color:rgba(31, 31, 31, 0.678)">
            <input id="name" type="text" class="form-control" placeholder="Ingrese su nombre aquí">
        </div>
        
        <h3>Ingrese su sugerencia</h3>
        <div style="background-color:rgba(31, 31, 31, 0.678)">
            <textarea name="" id="comment" cols="30" rows="10" class="form-control" style="background-color: white;color:black" placeholder="Ingrese su texto aquí"></textarea>
        </div>
        <br>
        <button class="btn btn-success"  >Enviar</button>
        <br><br><br>
        
