
  <br><br><br><br>
    <div style="margin:0 auto;text-align:center;">
        <h3>ADMINISTRACION</h3>
        <hr>
            <h3>Ingrese el nombre del producto</h3>
            <input type="text" class="form-control" style="border-style: solid;border-width: 5px;">
            <br><br>
            <h3>Ingrese el tipo de producto a agregar</h3>
            <select name="tipo" id="" class="form-control" >
                <option value="Ingrese el tipo de producto" hidden>Ingrese el tipo de producto</option>
                <option value="Postre" style=" background-color:black">Postre</option>
                <option value="Bebida" style=" background-color:black">Bebida</option>
            </select>
            <br><br>
            <button class="btn btn-success" style="margin:0 auto;display:block"><i class="far fa-save"></i>Guardar</button>
            <hr>
    </div>
    <div>
            <table style="width:100%">
                    <tr>
                      <th>Producto</th>
                      <th>Tipo de producto</th>
                      <th>Precio MXN</th>
                      <th>Operaciones</th>
                    </tr>
                    <tr>
                      <td>--</td>
                      <td>--</td>
                      <td>--</td>
                      <td>
                        <button class="btn btn-danger"><i class="fas fa-trash"></i> Baja</button>
                      </td>
                    </tr>
                   
                  </table> 
                  <br><br><br>
    </div>
